<% for(i in users) {%>
	<%x= JSON.parse(users[i]) %>
	<%= x.empid%>
	<%= x.name%>
	<%= x.mobile%>
	<a href="/edit_users?u_id=<%=i%>" >Edit</a>
	<a href="/delete_user?u_id=<%=i%>" >Delete</a>
	</br>
<%}%>